<launch>
  <!-- <include file="$(find pr2_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/> -->
    <!-- <include file="$(find pr2_moveit_config)/launch/demo.launch"> -->
  <!-- </include> -->

  <!-- <node name="trajectory"
        pkg="kinect_demonstrate"
        type="trajectory"
        respawn="false" output="screen"> -->
  <node name="mybag"
        pkg="kinect_demonstrate"
        type="mybag"
        respawn="false" output="screen">
    <!-- <rosparam command="load"
              file="$(find pr2_moveit_config)/config/kinematics.yaml"/> -->
  </node>
</launch>


<!-- <include file="$(find pr2_moveit_config)/launch/demo.launch"/>

  <node name="move_group_interface_tutorial" pkg="pr2_moveit_tutorials" type="move_group_interface_tutorial" respawn="false" output="screen">
  </node> -->